@import url('https://fonts.googleapis.com/css2?family=Avenir:wght@400&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.webbody{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Avenir', sans-serif;
}
.jrnfmemf{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 50px;
  gap: 10px;
}
.kefkdmvdm{
  width: 100vw;
  height: 72px;
  
  /* background-color: black; */
  display: flex;
  flex-direction: row;
}
.logo{
  display: flex;
  height: fit-content;
  width: fit-content;
  padding: 15px;
  /* align-items: center; */
  margin-top: 16px;
  margin-left: 15px;
  border-radius: 10px;
}
.logo:hover{
  background-color: yellow;
}
.jdnvkfmv{
  margin-top: 72px;
  width: 100vw;
  height: 90vh;
  margin-left: -70px;
  display: flex;
  /* background-color: red; */
  flex-direction: row;
  flex-wrap: wrap;
}
.loginoptions{
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  /* background-color: green; */
}
.njnkfmkedmfkm{
  width: 48vw;
  height: 88vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border-radius: 20px;
  gap: 30px;
  /* margin-right: 10px; */
}
.mdnk{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.jrnnkrmf{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.fjnvkfnv{
  font-weight: 600;
  font-size: 20px;
  display: flex;
}
.ejfdmn{
  font-weight: 400;
  font-size: 15px;
  color:grey;
  display: flex;
  text-align: start;
  margin-top: 20px;
}
.jefjnjfjkj {
  height: 40px;
  border-radius: 10px;
  background-color: rgb(217, 213, 213);
  border: none;
  padding-left: 10px;
}

.jefjnjfjkj:focus {
  border: none; /* Removes border when focused and typing */
}
.jndkfdlv{
  height: 90%;
  /* background-color: #000; */
  width: fit-content;
  /* margin-top: 20px; */
  border-radius: 20px;
}
.ekfjjf{
  display: none;
}
@media  screen and (max-width: 1023px) {
  .jhghgj{
    display: none;
  }
  .ekfjjf{
    display: flex;
    flex-direction: column;
  }
}
.jrnnkrmf{
  display: flex;
  justify-content: center;
  align-items: center;
}
.jrnnkrmf:hover{
  background-color: rgb(27, 26, 26);
}
.ejhdjef{
  width: 100vw;
  height: 76px;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hhhfejfjd{
  width: 100vw;
  margin-top: 100px;
  /* height: 100px; */
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.jrnvfnvkfmv{
  width: 18vw;
  height: 100vh;
  /* background-color: red; */
  display: flex;
  border-right: 0.5px solid white;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.jjvnkvn{
  margin-left: 30px;
  margin-top: 20px;
}