@import url('https://fonts.googleapis.com/css2?family=Avenir:wght@400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.webbody {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Avenir', sans-serif;
}

.jrnfmemf {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 50px;
  gap: 10px;
}

.kefkdmvdm {
  width: 100vw;
  height: 72px;

  /* background-color: black; */
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  height: fit-content;
  width: fit-content;
  padding: 15px;
  /* align-items: center; */
  margin-top: 16px;
  margin-left: 15px;
  border-radius: 10px;
}

.logo:hover {
  background-color: yellow;
}

.jdnvkfmv {
  margin-top: 72px;
  width: 100vw;
  height: 90vh;
  margin-left: -70px;
  display: flex;
  /* background-color: red; */
  flex-direction: row;
  flex-wrap: wrap;
}

.loginoptions {
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  /* background-color: green; */
}

.njnkfmkedmfkm {
  width: 48vw;
  height: 88vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border-radius: 20px;
  gap: 30px;
  /* margin-right: 10px; */
}

.mdnk {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.jrnnkrmf {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.fjnvkfnv {
  font-weight: 600;
  font-size: 20px;
  display: flex;
}

.ejfdmn {
  font-weight: 400;
  font-size: 15px;
  color: grey;
  display: flex;
  text-align: start;
  margin-top: 20px;
}

.jefjnjfjkj {
  height: 40px;
  border-radius: 10px;
  background-color: rgb(217, 213, 213);
  border: none;
  padding-left: 10px;
}

.jefjnjfjkj:focus {
  border: none;
  /* Removes border when focused and typing */
}

.jndkfdlv {
  height: 90%;
  /* background-color: #000; */
  width: fit-content;
  /* margin-top: 20px; */
  border-radius: 20px;
}

.ekfjjf {
  display: none;
}

@media screen and (max-width: 1023px) {
  .jhghgj {
    display: none;
  }

  .ekfjjf {
    display: flex;
    flex-direction: column;
  }
}

.jrnnkrmf {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jrnnkrmf:hover {
  background-color: rgb(27, 26, 26);
}

.ejhdjef {
  width: 100vw;
  height: 76px;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hhhfejfjd {
  width: 100vw;
  margin-top: 100px;
  /* height: 100px; */
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jrnvfnvkfmv {
  width: 18vw;
  height: 100vh;
  /* background-color: red; */
  display: flex;
  border-right: 0.5px solid white;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.jjvnkvn {
  margin-left: 30px;
  margin-top: 20px;
}

.dnvdnvd {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 30px;
  color: white;
  font-weight: bolder;
  gap: 10px;
}

.bvjnv {
  margin-top: 7px;
}

.jnfvnkf {
  display: none;
}

.jjnd {
  display: flex;
  flex-direction: row;
  /* gap: 40px; */
  align-items: center;
  width: 100vw;
  justify-content: space-evenly;
}

@media screen and (max-width: 1023px) {
  .jjndv {
    display: none;
  }

  .jnfvnkf {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    /* background-color: white; */
    flex-direction: row;
    /* gap: 10px; */
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: 30px; */
  }

}

.krkmfkfvm {
  position: absolute;
  width: 77%;
  /* width: 80vw; */
  height: 200px;
  /* background-color: white; */
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: white;
  justify-content: center;
  align-items: center;
}

.krmfvm {
  height: 100px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.jkdnfkd {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: fit-content;
  gap: 30px;
  margin-top: 20px;
}

.jnnfe {
  display: none;
}

.jrnknrv {
  position: absolute;
  margin-top: 300px;
  height: 40px;
  /* Adjusted height */
  width: 81.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.dmdnvfnvk {
  /* position: relative; */
  margin-top: 400px;
  width: 80vw;
  height: fit-content;
  /* background-color: wheat; */
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.nnjfnvj {
  display: flex;
  width: 80vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-weight: bold;
}

.dbfnv {
  display: flex;
  width: 100vw;
  margin-top: 40px;
  height: fit-content;
  flex-direction: row;
  /* gap: 30px; */
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.jdhvjfnv {
  width: 100vw;
  height: fit-content;
}

.jndvnfnf {
  width: 40vw;
  height: fit-content;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: center;
  margin-left: 20vw;
  gap: 20px;
  color: white;
  margin-top: 50px;
}

.jjrjnv {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.jndvnfnf::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Edge */
}

.jdjvnfv {
  display: flex;
  flex-direction: row;
  width: fit-content;
  font-size: 12px;
  gap: 10px;
}

.enjfendf {
  width: fit-content;
}

.ebec {
  margin-top: 50px;
}

.rngngkr {
  width: 100px;
  height: 100px;
  background-color: white;
}

.dnvjfnv {
  display: flex;
  width: 81.5vw;
  height: 93vh;
  color: white;
  /* background-color: white; */
  justify-content: start;
  align-items: center;
  margin-top: 35px;
  flex-direction: column;
}

.jmnnvkr {
  height: 90vh;
  width: 350px;
  /* background-color: white; */
  border-radius: 10px;
}

.container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  /* Smooth transition */
}

.video-container.paused {
  pointer-events: none;
  /* Prevent interactions when paused */
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 10;
}

.mute-button {
  position: absolute;
  top: 28px;
  right: 5px;
  border-radius: 50%;
  color: white;
  padding: 5px;
  cursor: pointer;
  z-index: 10;
}

.rjghfg {
  height: 86vh;
  width: 100vw;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: start;
  align-items: center;
  color: white;
}

.mnvmv {
  margin-top: 100px;
  margin-left: 80px;
  width: 70vw;
  height: 130px;
  border-radius: 20px;
  background-color: #262626;
  padding-left: 20px;
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.rjrnmrg {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rjhgjrg {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.njfjf {
  height: 40px;
  width: 120px;
  background-color: #0095F6;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.mddnfmn {
  height: 40px;
  width: 100px;
  background-color: #0095F6;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;
  top: 20px;
  left: 70vw;
  right: 0;
  margin-top: 20px;
  margin-right: 68px;
}

.ejfefn {
  margin-top: 20px;
  height: 85px;
  width: 72.5vw;
  border: 1px solid grey;
  margin-left: 80px;
  border-radius: 10px;
  color: white;
  /* padding: 20px; */
  display: flex;
  justify-content: start;
  align-items: start;
}

.enbfemnf {
  width: 70vw;
  height: 80px;
  border-radius: 10px;
  background-color: black;
  border: 1px solid black;
  color: white;
}

.rfmn {
  margin-left: 85px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 17px;
}

.kdjggjg {
  height: 180px;
  width: 72vw;
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  margin-top: 80px;
  margin-left: 80px;
  border-radius: 10px;
  color: white;
}

.jnfjn {
  width: 20%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jdnvnmvnd::-webkit-scrollbar {
  display: none;
}

.jdjkfj {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.jevnv {
  width: 80%;
  height: 180px;
  border-radius: 10px;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.mfnvmnfv {
  font-size: 18px;
  font-weight: 600;
}

.emvnv {
  font-size: 15px;
  font-weight: 500;
  color: gray;
}

/* src/ToggleSlider.css */
.toggle-container {
  width: 50px;
  height: 20px;
  background-color: #ccc;
  /* Grey when off */
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.2s ease;
}

.toggle-slider {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.toggle-slider.active {
  transform: translateX(30px);
}

.toggle-container.active {
  background-color: white;
  /* White when on */
}

.toggle-container:not(.active) {
  background-color: #ccc;
  /* Grey when off */
}

.emnfmdkvm {
  width: 30vw;
  height: 100vh;
  /* background-color: white; */
  overflow-y: scroll;
  border-right: 1px solid rgb(218, 209, 209);
}

.emnfmdkvm::-webkit-scrollbar {
  display: none;
}

.ekfkmv {
  width: 100%;
  height: 100px;
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-self: start;
  align-items: center;
}

.mdnfmd,
.hfjdjn {
  width: 51.5vw;
  height: 100vh;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
}

.jnefjnedf {
  width: 100%;
  height: 100px;
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-self: start;
  align-items: center;
}

.wwkdwkdm {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* background-color: red; */
  margin-left: 50px;
}

.nrjfnjr {
  width: 100%;
  height: 100px;
  background-color: wheat;
  margin-top: 20px;
}

.kkmf {
  font-weight: 600;
}

/* General styles */
.mdnfmd {
  display: flex;
  /* default display style */
}

.kdmkfmkmk {
  height: 95vh;
  width: 100vw;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
}

.mdvvdmv {
  width: 100%;
  height: 100px;
  /* background-color: white; */
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-self: center;
  align-items: center;
}

.kdkdmv {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* background-color: wheat; */
  margin-left: 50px;
}

.jedbfcned {
  position: absolute;
  bottom: 0;
  width: 51.5vw;
  height: 100px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ehfjnfn,
.ejjejkj {
  width: 90%;
  border-radius: 40px;
  background-color: black;
  height: 50px;
  border: 1px solid white;
  color: white;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ejjejkj {
  margin-top: 90vh;
  width: 90%;
}

.eufhj {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.ehgddh {
  width: 100%;
  height: 100vh;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.nbfh::-webkit-scrollbar {
  display: none;
}
.enfn{
  width: 81.9vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.ufgfgf{
  width: 100%;
  height: 100px;
  /* background-color: red; */
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  /* gap: 20px; */
  justify-self: start;
  align-items: center;
}
.bvnf{
  display: flex;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  margin-left: 50px;
}
.jefjf{
  width: 78vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 20px;
  justify-content: start;
  align-items: start;

}
.dnvjnvjn{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 40px;
}
.dnjndv{
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
}
/* Media Query for screen sizes max-width 1023px */
@media screen and (max-width: 1023px) {
  .jdnvnmvnd {
    display: none;
  }

  .emnfmdkvm {
    display: none;
  }

  .mdnfmd {
    display: none;
    /* Hide on smaller screens */
  }

  .jnnfe {
    display: flex;
  }

  .hfjdjn {
    display: none;
  }

  .enfn {
    display: none;
  }
}